* {
    box-sizing: border-box;
}

html,body,div[data-role ="page"], div[data-role="content"] {
overflow-y:hidden;
    margin: 0px;
    padding: 0px;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    height: 100%; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    height: 100%;
}



  
.circle {
	position: relative;
	-webkit-user-select: none;
	border: 1px solid black;
	padding: 0;
  	width: 15em;
  	height: 15em;
  	border-radius: 50%;
  	list-style: none;
  	overflow: hidden;
 	box-sizing: border-box;
  	border-width: 5px;
   	transform: rotate(-45deg);
   	border-color: grey grey grey grey;
   	  	z-index: 0;
}

.circle::before {
	position: absolute;
  	border: 1px solid black;
  	top: 25%;
  	left: 25%;
  	right: 25%;
  	bottom: 25%;
  	content: "";
    border-radius: 50%;
    background-color: rgb(218,218,218);
    border-width: 11px;
    overflow: hidden;
   	border-color:grey grey grey grey;
  	z-index: 0;
}

.circle::after {
 	position: absolute;
    border: 1px solid grey;
 	width: 35%;
	height: 35%; 
	margin-top:29%;
  	left: 29.5%;
	top: 1px;
 	content: "";
    overflow: hidden;
    background-image: url("..\\icons\\graph0.bmp");
    border-radius: 50%;
    border-width: 7px;
  	transform: rotate(45deg);
  	z-index:5; 
}

#l1 {
	overflow: hidden;
  	position: absolute;
  	border: 1px solid grey;
  	top: 0;
  	right: 0;
  	width: 50%;
  	height: 50%;
  	transform-origin: 0% 100%;

}

.text {
  	position: absolute;
	left: -100%;
	margin-top: -10%;
	padding-top:30px;
	width: 200%;
  	height: 200%;
  	text-align: center;
  	transform: rotate(46deg);
  	border-color: red;
    overflow: hidden;
}

#l1:first-child {
	transform: rotate(-45deg);
	border: 1px solid grey;   
	  	z-index: -5; 
}

#l1:first-child:active {
    border: 1px solid red;
}

#l1:nth-child(2) {
  	transform: rotate(45deg);
    border: 1px solid grey;
      	z-index: -6;
}

#l1:nth-child(3) {
  	transform: rotate(135deg);
    border: 1px solid grey;
      	z-index: -3;
}

#l1:nth-child(4) {
  	transform: rotate(225deg);
	border: 1px solid grey;
	  	z-index: -8;
}

#l1:first-child .text {
    background: rgb(218,218,218);
    color: white;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    transform: rotate(90deg);
	padding-right:110px;
	padding-top:40px;
}

#l1:nth-child(2) .text {
  	background: rgb(218,218,218);
    color: white;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    transform: rotate(0deg);
	padding-left:125px;
	padding-top:52px;
}

#l1:nth-child(3) .text {
  	background: rgb(218,218,218);
    color: white;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    transform: rotate(-90deg);
	padding-left:95px;
	padding-top:160px;
}

#l1:nth-child(4) .text {
	background: rgb(218,218,218);
    color: white;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
	transform: rotate(180deg);
	padding-right:135px;
	padding-top:150px;
}

#selLI {
	background-color: green !important;
}

.valueDisplay{
	  border: 3px solid red;
	      color: red;
    font-size:50px;
    padding: 2px 5px 2px 5px;
    vertical-align:bottom;

}
.scale {
	  color: red;
    font-size:35px;
     padding: 2px;
}

.logoL, .logoP {
 
    border: 1px solid grey;
 	width: 105px;
	height: 105px; 
background-size: contain;
    overflow: hidden;
    background-image: url("..\\icons\\Brink Logo (003).jpg");

}
